auth_service/auth_service/__pycache__/__init__.cpython-312.pyc
auth_service/auth_service/__pycache__/settings.cpython-312.pyc
auth_service/auth_service/__pycache__/urls.cpython-312.pyc
auth_service/auth_service/__pycache__/wsgi.cpython-312.pyc
