auth_service/auth/__pycache__/
auth_service/auth_service/__pycache__/
auth_service/tokens/__pycache__/
auth_service/tokens/migrations/__pycache__/
auth_service/.env
auth_service/venv
auth_service/db.sqlite3
auth_service/logs/django.log
