auth_service/auth/__pycache__/
auth_service/auth_service/__pycache__/
auth_service/accounts/__pycache__/
auth_service/tokens/__pycache__/
auth_service/accounts/migrations/
auth_service/.env
auth_service/venv